.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typing {
    position: relative;
}

.typing::after {
    content: "|";
    position: absolute;
    right: 0;
    width: 100%;
    color: white;
    background: #222831;
    -webkit-animation: typing 2s steps(20) forwards, caret 1s infinite;
    animation: typing 2s steps(20) forwards, caret 1s infinite;
}

@-webkit-keyframes typing {
    to {
        width: 0;
    }
}

@keyframes typing {
    to {
        width: 0;
    }
}